<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skt.ehs.mbs.db.maria.dao.RawDataAPDAO">


    <insert id="insertRawDataAP" parameterType="com.skt.ehs.mbs.db.maria.vo.RawDataAP" >
        INSERT INTO raw_data_ap values(#{_tag_id},#{_seq_num})
    </insert>

</mapper>